torch
torchvision
torchaudio
xformers

GitPython
Pillow==9.5.0
accelerate

blendmodes==2022
clean-fid
diskcache
einops
facexlib
fastapi==0.100.0
gradio==3.41.2
inflection
jsonmerge
kornia
lark
numpy
omegaconf
open-clip-torch==2.24.0
pydantic==1.10.14

piexif
psutil
pytorch_lightning
requests
resize-right

safetensors
scikit-image>=0.19
tomesd
torchdiffeq
torchsde
transformers==4.30.2
pillow-avif-plugin==1.4.3

openai-clip
spandrel==0.1.6 
insightface
basicsr
rich
controlnet_aux